@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@import "tailwindcss";

@theme {
  --color-greyBackground: #f5f5f7;
  --color-blackBackground: #1d1d1f;
  --color-card: #ffffff;
  --color-redButton: #ff5f57;
  --color-yellowButton: #ffbd2e;
  --color-greenButton: #28c940;
}

* {
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  max-width: 90rem;
  margin: 0 auto;
  background-color: #ffffff;
}
